
### Data Collection and Preprocessing
  - Collect historical energy consumption,holidays, pricing, weather, and population data.
  - Preprocess the data, handle missing values, and engineer features.

In [124]:
## Import Libraries 

from pathlib import Path
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import requests
import json
import io 
import os

from bs4 import BeautifulSoup

### Demand Data

In [159]:
## Getting all demand data from IESO website and putting into a data directory

# URL of the webpage containing the links to the CSV files
url = 'http://reports.ieso.ca/public/Demand/'

# Create a directory to store the downloaded files
os.makedirs('demand_data', exist_ok=True)

# Send a GET request to the URL
response = requests.get(url)

# Parse the HTML content of the webpage
soup = BeautifulSoup(response.content, 'html.parser')

# Find all anchor tags (<a>) that contain links to CSV files
links = soup.find_all('a', href=True)

# Extract the filenames from the href attributes of the anchor tags
csv_files = [link['href'] for link in links if link['href'].endswith('.csv')]

# Download each CSV file and save it in the "data" directory
for filename in csv_files:
    file_url = url + filename
    response = requests.get(file_url)
    with open(os.path.join('demand_data', filename), 'wb') as f:
        f.write(response.content)
        print(f"Downloaded {filename}")

Downloaded PUB_Demand.csv
Downloaded PUB_Demand_2002.csv
Downloaded PUB_Demand_2002_v1.csv
Downloaded PUB_Demand_2003.csv
Downloaded PUB_Demand_2003_v1.csv
Downloaded PUB_Demand_2004.csv
Downloaded PUB_Demand_2004_v1.csv
Downloaded PUB_Demand_2005.csv
Downloaded PUB_Demand_2005_v1.csv
Downloaded PUB_Demand_2006.csv
Downloaded PUB_Demand_2006_v1.csv
Downloaded PUB_Demand_2007.csv
Downloaded PUB_Demand_2007_v1.csv
Downloaded PUB_Demand_2008.csv
Downloaded PUB_Demand_2008_v1.csv
Downloaded PUB_Demand_2009.csv
Downloaded PUB_Demand_2009_v1.csv
Downloaded PUB_Demand_2010.csv
Downloaded PUB_Demand_2010_v1.csv
Downloaded PUB_Demand_2011.csv
Downloaded PUB_Demand_2011_v1.csv
Downloaded PUB_Demand_2012.csv
Downloaded PUB_Demand_2012_v1.csv
Downloaded PUB_Demand_2013.csv
Downloaded PUB_Demand_2013_v1.csv
Downloaded PUB_Demand_2014.csv
Downloaded PUB_Demand_2014_v1.csv
Downloaded PUB_Demand_2015.csv
Downloaded PUB_Demand_2015_v1.csv
Downloaded PUB_Demand_2016.csv
Downloaded PUB_Demand_2016_v1.csv
Downloaded PUB_Demand_2017.csv
Downloaded PUB_Demand_2017_v1.csv
Downloaded PUB_Demand_2018.csv
Downloaded PUB_Demand_2018_v253.csv
Downloaded PUB_Demand_2019.csv
Downloaded PUB_Demand_2019_v395.csv
Downloaded PUB_Demand_2020.csv
Downloaded PUB_Demand_2020_v396.csv
Downloaded PUB_Demand_2021.csv
Downloaded PUB_Demand_2021_v396.csv
Downloaded PUB_Demand_2022.csv
Downloaded PUB_Demand_2022_v397.csv
Downloaded PUB_Demand_2023.csv
Downloaded PUB_Demand_2023_v395.csv
Downloaded PUB_Demand_2024.csv
Downloaded PUB_Demand_2024_v42.csv
Downloaded PUB_Demand_2024_v43.csv
Downloaded PUB_Demand_2024_v44.csv

In [160]:
## Define a function to read the demand data from a CSV file and return a DataFrame in proper format
def read_csv(filename):
    # Read the CSV file into a DataFrame, skipping the first three rows
    df = pd.read_csv(filename, skiprows=[0, 1])
    # Set column names from the fourth row
    df.columns = df.iloc[0]
    # Drop the fourth row
    df = df.drop(index=0).reset_index(drop=True)
    return df

In [161]:
#Defining a function to combine all the CSV files into a single DataFrame

def combine_csvs(directory):
    """Combine all CSV files in a directory into a single DataFrame."""

# List to store DataFrames for each CSV file
    dfs = []

    # Iterate over each CSV file in the directory
    for filename in os.listdir(directory):
        if filename.endswith('.csv'):
            file_path = os.path.join(directory, filename)
            # Clean and read the CSV file into a DataFrame
            df = read_csv(file_path)
            dfs.append(df)

    # Concatenate all DataFrames into a single DataFrame
    df = pd.concat(dfs, ignore_index=True)

    # Sort by the 'Date' column
    df = df.sort_values('Date')
    return df

In [162]:
## Define a function that takes a DataFrame and returns a new DataFrame with the 'Date' and 'Hour' columns combined into a single 'DateTime' column
def combine_date_hour(df):
    """Combine 'Date' and 'Hour' columns into a single 'DateTime' column."""
    # Convert 'Hour' to 24-hour format as integer and subtract 1
    df['Hour'] = (df['Hour'].astype(int) - 1) % 24  # Ensure hour values are within 0-23 range
    # Combine 'Date' and 'Hour' strings
    df['DateTime'] = pd.to_datetime(df['Date'] + ' ' + df['Hour'].astype(str) + ':00:00')
    # Drop 'Date' and 'Hour' columns
    df.drop(columns=['Date', 'Hour'], inplace=True)
    # # Sort DataFrame by the 'DateTime' column
    df.sort_values(by='DateTime', inplace=True)
    # Reset index
    df.reset_index(drop=True, inplace=True)
    return df

In [164]:
## Get the combined demand data, sort the date, and return the final dataframe 

# Combine all CSV files in the "data" directory into a single DataFrame
df_d = combine_csvs('demand_data')
# Combine the 'Date' and 'Hour' columns into a single 'DateTime' column
df_d  = combine_date_hour(df_d )
## set index to DateTime
df_d .set_index('DateTime', inplace=True)
## Sort the DataFrame by the 'DateTime' column
df_d .sort_values(by='DateTime', inplace=True)
# Remove duplicate rows
df_d = df_d.drop_duplicates()

# Display the first 50 rows of the DataFrame
df_d .head(50)

0                   Market Demand Ontario Demand
DateTime
2002-05-01 00:00:00         14141          14137
2002-05-01 01:00:00         13876          13872
2002-05-01 02:00:00         13974          13820
2002-05-01 03:00:00         13898          13744
2002-05-01 04:00:00         14378          14224
2002-05-01 05:00:00         15408          15404
2002-05-01 06:00:00         17070          17066
2002-05-01 07:00:00         17644          17640
2002-05-01 08:00:00         17723          17719
2002-05-01 09:00:00         17774          17770
2002-05-01 10:00:00         17729          17725
2002-05-01 11:00:00         17615          17611
2002-05-01 12:00:00         17530          17526
2002-05-01 13:00:00         17472          17468
2002-05-01 14:00:00         17482          17478
2002-05-01 15:00:00         17592          17588
2002-05-01 16:00:00         17650          17646
2002-05-01 17:00:00         17292          17288
2002-05-01 18:00:00         17231          17227
2002-05-01 19:00:00         17903          17899
2002-05-01 20:00:00         17906          17902
2002-05-01 21:00:00         16614          16610
2002-05-01 22:00:00         15364          15360
2002-05-01 23:00:00         14455          14451
2002-05-02 00:00:00         13945          13941
2002-05-02 01:00:00         13655          13651
2002-05-02 02:00:00         13823          13569
2002-05-02 03:00:00         13774          13610
2002-05-02 04:00:00         14368          14204
2002-05-02 05:00:00         15615          15601
2002-05-02 06:00:00         17610          17556
2002-05-02 07:00:00         18474          18420
2002-05-02 08:00:00         18703          18699
2002-05-02 09:00:00         18848          18844
2002-05-02 10:00:00         18891          18887
2002-05-02 11:00:00         18772          18768
2002-05-02 12:00:00         18616          18612
2002-05-02 13:00:00         18414          18410
2002-05-02 14:00:00         18396          18392
2002-05-02 15:00:00         18600          18596
2002-05-02 16:00:00         18656          18652
2002-05-02 17:00:00         18368          18364
2002-05-02 18:00:00         18293          18264
2002-05-02 19:00:00         18409          18405
2002-05-02 20:00:00         18213          18209
2002-05-02 21:00:00         16949          16945
2002-05-02 22:00:00         15753          15749
2002-05-02 23:00:00         14797          14793
2002-05-03 00:00:00         14239          14235
2002-05-03 01:00:00         14346          14092

### Pricing Data

In [156]:
import requests
import os

# URL of the directory containing the CSV files
url = 'http://reports.ieso.ca/public/PriceHOEPPredispOR/'

# Create a directory to store the downloaded files
os.makedirs('price_data', exist_ok=True)

# Send a GET request to the URL
response = requests.get(url)

# Parse the HTML content of the webpage
soup = BeautifulSoup(response.content, 'html.parser')

# Find all anchor tags (<a>) that contain links to CSV files
links = soup.find_all('a', href=True)

# Extract the filenames from the href attributes of the anchor tags
csv_files = [link['href'] for link in links if link['href'].endswith('.csv')]

# Download each CSV file and save it in the "data" directory
for filename in csv_files:
    file_url = url + filename
    response = requests.get(file_url)
    with open(os.path.join('price_data', filename), 'wb') as f:
        f.write(response.content)
        print(f"Downloaded {filename}")

Downloaded PUB_PriceHOEPPredispOR.csv
Downloaded PUB_PriceHOEPPredispOR_2002.csv
Downloaded PUB_PriceHOEPPredispOR_2002_v1.csv
Downloaded PUB_PriceHOEPPredispOR_2003.csv
Downloaded PUB_PriceHOEPPredispOR_2003_v1.csv
Downloaded PUB_PriceHOEPPredispOR_2004.csv
Downloaded PUB_PriceHOEPPredispOR_2004_v1.csv
Downloaded PUB_PriceHOEPPredispOR_2005.csv
Downloaded PUB_PriceHOEPPredispOR_2005_v1.csv
Downloaded PUB_PriceHOEPPredispOR_2006.csv
Downloaded PUB_PriceHOEPPredispOR_2006_v1.csv
Downloaded PUB_PriceHOEPPredispOR_2007.csv
Downloaded PUB_PriceHOEPPredispOR_2007_v1.csv
Downloaded PUB_PriceHOEPPredispOR_2008.csv
Downloaded PUB_PriceHOEPPredispOR_2008_v1.csv
Downloaded PUB_PriceHOEPPredispOR_2009.csv
Downloaded PUB_PriceHOEPPredispOR_2009_v1.csv
Downloaded PUB_PriceHOEPPredispOR_2010.csv
Downloaded PUB_PriceHOEPPredispOR_2010_v1.csv
Downloaded PUB_PriceHOEPPredispOR_2011.csv
Downloaded PUB_PriceHOEPPredispOR_2011_v1.csv
Downloaded PUB_PriceHOEPPredispOR_2012.csv
Downloaded PUB_PriceHOEPPredispOR_2012_v1.csv
Downloaded PUB_PriceHOEPPredispOR_2013.csv
Downloaded PUB_PriceHOEPPredispOR_2013_v1.csv
Downloaded PUB_PriceHOEPPredispOR_2014.csv
Downloaded PUB_PriceHOEPPredispOR_2014_v1.csv
Downloaded PUB_PriceHOEPPredispOR_2015.csv
Downloaded PUB_PriceHOEPPredispOR_2015_v1.csv
Downloaded PUB_PriceHOEPPredispOR_2016.csv
Downloaded PUB_PriceHOEPPredispOR_2016_v1.csv
Downloaded PUB_PriceHOEPPredispOR_2017.csv
Downloaded PUB_PriceHOEPPredispOR_2017_v1.csv
Downloaded PUB_PriceHOEPPredispOR_2018.csv
Downloaded PUB_PriceHOEPPredispOR_2018_v148.csv
Downloaded PUB_PriceHOEPPredispOR_2019.csv
Downloaded PUB_PriceHOEPPredispOR_2019_v395.csv
Downloaded PUB_PriceHOEPPredispOR_2020.csv
Downloaded PUB_PriceHOEPPredispOR_2020_v396.csv
Downloaded PUB_PriceHOEPPredispOR_2021.csv
Downloaded PUB_PriceHOEPPredispOR_2021_v395.csv
Downloaded PUB_PriceHOEPPredispOR_2022.csv
Downloaded PUB_PriceHOEPPredispOR_2022_v396.csv
Downloaded PUB_PriceHOEPPredispOR_2023.csv
Downloaded PUB_PriceHOEPPredispOR_2023_v395.csv
Downloaded PUB_PriceHOEPPredispOR_2024.csv
Downloaded PUB_PriceHOEPPredispOR_2024_v42.csv
Downloaded PUB_PriceHOEPPredispOR_2024_v43.csv
Downloaded PUB_PriceHOEPPredispOR_2024_v44.csv

In [157]:
# Combine all CSV files in the "data" directory into a single DataFrame
df = combine_csvs('price_data')
# Combine the 'Date' and 'Hour' columns into a single 'DateTime' column
df = combine_date_hour(df)
## set index to DateTime
df.set_index('DateTime', inplace=True)
## Sort the DataFrame by the 'DateTime' column
df.sort_values(by='DateTime', inplace=True)
# Remove duplicate rows
df = df.drop_duplicates()
# Display the first 50 rows of the DataFrame
df.head(50)

,HOEP,Hour 1 Predispatch,Hour 2 Predispatch,Hour 3 Predispatch,OR 10 Min Sync,OR 10 Min non-sync,OR 30 Min
DateTime,,,,,,,
2002-05-01 00:00:00,22.97,14.53,14.53,14.53,NaN,NaN,NaN
2002-05-01 01:00:00,23.27,21.31,21.37,21.37,NaN,NaN,NaN
2002-05-01 02:00:00,24.54,25.45,21.38,21.38,NaN,NaN,NaN
2002-05-01 03:00:00,15.17,24.92,24.92,14.53,NaN,NaN,NaN
2002-05-01 04:00:00,23.59,27.38,27.38,27.4,NaN,NaN,NaN
2002-05-01 05:00:00,28.84,30.34,30.18,30.18,NaN,NaN,NaN
2002-05-01 06:00:00,30.63,30.78,30.78,30.49,NaN,NaN,NaN
2002-05-01 07:00:00,32.23,30.92,30.92,30.92,NaN,NaN,NaN
2002-05-01 08:00:00,30,30.22,30.73,30.73,NaN,NaN,NaN
2002-05-01 09:00:00,30.16,30.3,30.24,30.75,NaN,NaN,NaN
2002-05-01 10:00:00,30.25,30.71,30.71,30.71,NaN,NaN,NaN
2002-05-01 11:00:00,29.76,30.52,30.69,30.71,NaN,NaN,NaN
2002-05-01 12:00:00,29.51,30.21,30.69,30.52,NaN,NaN,NaN
2002-05-01 13:00:00,29.63,29.7,30.21,30.71,NaN,NaN,NaN
2002-05-01 14:00:00,30.37,30.3,30.24,30.34,NaN,NaN,NaN
2002-05-01 15:00:00,31.11,31.22,30.71,30.56,NaN,NaN,NaN
2002-05-01 16:00:00,30.65,31.45,30.87,30.53,NaN,NaN,NaN
2002-05-01 17:00:00,30.09,30.77,30.77,30.77,NaN,NaN,NaN
2002-05-01 18:00:00,29.47,30.34,30.45,30.28,NaN,NaN,NaN
2002-05-01 19:00:00,33.81,37.67,32.98,32.98,NaN,NaN,NaN
2002-05-01 20:00:00,34.56,30.84,32.47,30.84,NaN,NaN,NaN
2002-05-01 21:00:00,28.93,30.28,29.99,28.84,NaN,NaN,NaN
2002-05-01 22:00:00,27.55,30.16,29.65,29.65,NaN,NaN,NaN
2002-05-01 23:00:00,24.22,27.18,27.06,27.06,NaN,NaN,NaN
2002-05-02 00:00:00,18.75,22.72,22.78,22.84,NaN,NaN,NaN
2002-05-02 01:00:00,18.89,13.3,20,13.3,NaN,NaN,NaN
2002-05-02 02:00:00,23.3,13.49,20,22.86,NaN,NaN,NaN
2002-05-02 03:00:00,20.56,20,22.79,22.79,NaN,NaN,NaN
2002-05-02 04:00:00,26.35,27.47,26.95,27.3,NaN,NaN,NaN
2002-05-02 05:00:00,30.1,31.02,30.97,30.8,NaN,NaN,NaN
2002-05-02 06:00:00,30.97,30.6,30.6,30.6,NaN,NaN,NaN
2002-05-02 07:00:00,32.82,31.18,31.17,31.02,NaN,NaN,NaN
2002-05-02 08:00:00,34.6,40,31.06,31.23,NaN,NaN,NaN
2002-05-02 09:00:00,36.7,41.84,41.84,31.57,NaN,NaN,NaN
2002-05-02 10:00:00,38.64,54.57,54.47,47,NaN,NaN,NaN
2002-05-02 11:00:00,33.56,38.81,41.56,39.14,NaN,NaN,NaN
2002-05-02 12:00:00,33.07,38.29,38.48,39.76,NaN,NaN,NaN
2002-05-02 13:00:00,32.49,33.61,33.61,33.3,NaN,NaN,NaN
2002-05-02 14:00:00,33.37,38.2,34.93,35,NaN,NaN,NaN
2002-05-02 15:00:00,37.54,42.95,42.95,41.51,NaN,NaN,NaN
2002-05-02 16:00:00,33.55,33.59,33.59,33.59,NaN,NaN,NaN
2002-05-02 17:00:00,31.93,33.07,33.07,33.07,NaN,NaN,NaN
2002-05-02 18:00:00,31.33,30.87,30.87,30.87,NaN,NaN,NaN
2002-05-02 19:00:00,30.88,30.86,30.86,30.86,NaN,NaN,NaN
2002-05-02 20:00:00,31.84,32.82,32.82,32.82,NaN,NaN,NaN
2002-05-02 21:00:00,28.99,30.69,30.69,30.69,NaN,NaN,NaN
2002-05-02 22:00:00,27.2,30,30.02,30,NaN,NaN,NaN
2002-05-02 23:00:00,24.75,28.86,28.86,28.86,NaN,NaN,NaN
2002-05-03 00:00:00,22.95,23.48,23.48,23.48,NaN,NaN,NaN
2002-05-03 01:00:00,25.74,24.87,24.87,24.87,NaN,NaN,NaN

#### Weather Data (Environment Canada)

In [149]:
## Test out getting 1 month of data 

month = "01" # January
year = "2020" # 2020
stationID = 51459 #Vancouver

base_url = "http://climate.weather.gc.ca/climate_data/bulk_data_e.html?"
query_url = "format=csv&stationID={}&Year={}&Month={}&timeframe=1".format(stationID, year, month)
api_endpoint = base_url + query_url

print("Click me to download CSV data:")
print(api_endpoint)

Click me to download CSV data:
http://climate.weather.gc.ca/climate_data/bulk_data_e.html?format=csv&stationID=51442&Year=2020&Month=01&timeframe=1

In [ ]:
month = "01" # January
year = "2020" # 2020
stationID = 51442 #Vancouver

base_url = "http://climate.weather.gc.ca/climate_data/bulk_data_e.html?"
query_url = "format=csv&stationID={}&Year={}&Month={}&timeframe=1".format(stationID, year, month)
api_endpoint = base_url + query_url

print("Click me to download CSV data:")
print(api_endpoint)

https://climate.weather.gc.ca/climate_data/daily_data_e.html?

### Ontario Holidays

In [165]:
## Add holidays to the demand data frame
## Copy deamnd df 
df3 = df_d.copy()

In [167]:
import holidays 
hols = holidays.Canada(state = 'ON')

In [168]:
## Add holidays to the demand data frame

df3['Holiday'] = pd.Series(df3.index.date).apply(lambda x: x in hols).values

In [169]:
df3.head(50)

0                   Market Demand Ontario Demand  Holiday
DateTime
2002-05-01 00:00:00         14141          14137    False
2002-05-01 01:00:00         13876          13872    False
2002-05-01 02:00:00         13974          13820    False
2002-05-01 03:00:00         13898          13744    False
2002-05-01 04:00:00         14378          14224    False
2002-05-01 05:00:00         15408          15404    False
2002-05-01 06:00:00         17070          17066    False
2002-05-01 07:00:00         17644          17640    False
2002-05-01 08:00:00         17723          17719    False
2002-05-01 09:00:00         17774          17770    False
2002-05-01 10:00:00         17729          17725    False
2002-05-01 11:00:00         17615          17611    False
2002-05-01 12:00:00         17530          17526    False
2002-05-01 13:00:00         17472          17468    False
2002-05-01 14:00:00         17482          17478    False
2002-05-01 15:00:00         17592          17588    False
2002-05-01 16:00:00         17650          17646    False
2002-05-01 17:00:00         17292          17288    False
2002-05-01 18:00:00         17231          17227    False
2002-05-01 19:00:00         17903          17899    False
2002-05-01 20:00:00         17906          17902    False
2002-05-01 21:00:00         16614          16610    False
2002-05-01 22:00:00         15364          15360    False
2002-05-01 23:00:00         14455          14451    False
2002-05-02 00:00:00         13945          13941    False
2002-05-02 01:00:00         13655          13651    False
2002-05-02 02:00:00         13823          13569    False
2002-05-02 03:00:00         13774          13610    False
2002-05-02 04:00:00         14368          14204    False
2002-05-02 05:00:00         15615          15601    False
2002-05-02 06:00:00         17610          17556    False
2002-05-02 07:00:00         18474          18420    False
2002-05-02 08:00:00         18703          18699    False
2002-05-02 09:00:00         18848          18844    False
2002-05-02 10:00:00         18891          18887    False
2002-05-02 11:00:00         18772          18768    False
2002-05-02 12:00:00         18616          18612    False
2002-05-02 13:00:00         18414          18410    False
2002-05-02 14:00:00         18396          18392    False
2002-05-02 15:00:00         18600          18596    False
2002-05-02 16:00:00         18656          18652    False
2002-05-02 17:00:00         18368          18364    False
2002-05-02 18:00:00         18293          18264    False
2002-05-02 19:00:00         18409          18405    False
2002-05-02 20:00:00         18213          18209    False
2002-05-02 21:00:00         16949          16945    False
2002-05-02 22:00:00         15753          15749    False
2002-05-02 23:00:00         14797          14793    False
2002-05-03 00:00:00         14239          14235    False
2002-05-03 01:00:00         14346          14092    False

## Population Data

In [172]:


# URL of the webpage containing the links to the CSV files
url = 'https://www150.statcan.gc.ca/t1/wds/rest/getFullTableDownloadCSV/14100287/en'

# Create a directory to store the downloaded files
os.makedirs('population_data', exist_ok=True)

# Send a GET request to the URL
response = requests.get(url)

# Parse the HTML content of the webpage
soup = BeautifulSoup(response.content, 'html.parser')

# Find all anchor tags (<a>) that contain links to CSV files
links = soup.find_all('a', href=True)

# Extract the filenames from the href attributes of the anchor tags
csv_files = [link['href'] for link in links if link['href'].endswith('.csv')]

# Download each CSV file and save it in the "data" directory
for filename in csv_files:
    file_url = url + filename
    response = requests.get(file_url)
    with open(os.path.join('population_data', filename), 'wb') as f:
        f.write(response.content)
        print(f"Downloaded {filename}")

/var/folders/vr/r8mf2bqs5rq239fpzg2_n3z00000gn/T/ipykernel_3788/640124098.py:11: MarkupResemblesLocatorWarning: The input looks more like a filename than markup. You may want to open this file and pass the filehandle into Beautiful Soup.
  soup = BeautifulSoup(response.content, 'html.parser')

In [173]:
import os
import requests
from bs4 import BeautifulSoup

# URL of the webpage containing the links to the CSV files
url = "https://www150.statcan.gc.ca/t1/wds/rest/getFullTableDownloadCSV/14100287/en"

# Create a directory to store the downloaded files
os.makedirs('population_data', exist_ok=True)

# Send a GET request to the URL
response = requests.get(url)

# Check the content type of the response
content_type = response.headers.get('content-type')
print("Content-Type:", content_type)

# Parse the HTML content of the webpage if it's HTML
if 'text/html' in content_type:
    # Parse the HTML content of the webpage
    soup = BeautifulSoup(response.content, 'html.parser')

    # Find all anchor tags (<a>) that contain links to CSV files
    links = soup.find_all('a', href=True)

    # Extract the filenames from the href attributes of the anchor tags
    csv_files = [link['href'] for link in links if link['href'].endswith('.csv')]

    # Download each CSV file and save it in the "population_data" directory
    for filename in csv_files:
        file_url = url + filename
        response = requests.get(file_url)
        with open(os.path.join('population_data', filename), 'wb') as f:
            f.write(response.content)
            print(f"Downloaded {filename}")
else:
    # If the content type is not HTML, handle it accordingly (e.g., save it directly to a file)
    with open('population_data/full_table.csv', 'wb') as f:
        f.write(response.content)
        print("Downloaded full_table.csv")

Content-Type: application/json
Downloaded full_table.csv

In [175]:
import os
import requests

# URL of the webpage containing the links to the CSV files
url = 'https://www150.statcan.gc.ca/t1/wds/rest/getFullTableDownloadCSV/14100287/en'

# Create a directory to store the downloaded files
os.makedirs('population_data', exist_ok=True)

# Send a GET request to the URL
response = requests.get(url)

# Check if the request was successful
if response.status_code == 200:
    # Parse the JSON content of the response
    json_data = response.json()
    
    # Extract the download link from the JSON data
    download_link = json_data['object']
    
    # Download the CSV file and save it in the "population_data" directory
    filename = 'full_table.csv'
    response = requests.get(download_link)
    if response.status_code == 200:
        with open(os.path.join('population_data', filename), 'wb') as f:
            f.write(response.content)
            print(f"Downloaded {filename}")
    else:
        print("Failed to download the CSV file.")
else:
    print("Failed to retrieve data from the URL.")

Downloaded full_table.csv

In [183]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

# URL of the website to scrape
url = 'https://www.neilsberg.com/insights/ontario-or-population-by-year/'

# Send a GET request to the URL
response = requests.get(url)

# Parse the HTML content of the webpage
soup = BeautifulSoup(response.content, 'html.parser')

# Find the table containing population data
table = soup.find('table')

# Extract table headers
headers = [th.text.strip() for th in table.find_all('th')]

# Extract table rows
data = []
for row in table.find_all('tr')[1:]:
    row_data = [td.text.strip() for td in row.find_all('td')]
    data.append(row_data)

# Create a DataFrame
df = pd.DataFrame(data, columns=headers)

# Save the DataFrame as a CSV file
df.to_csv('ontario_population.csv', index=False)

print("CSV file saved successfully.")

CSV file saved successfully.

In [186]:
## Get the population data from the CSV file
df_pop = pd.read_csv('ontario_population.csv')
df_pop.head(30)

    Year Population Year on Year Change Change in Percent
0   2000     11,216                   -                 -
1   2001     11,283                  67              0.6%
2   2002     11,278                  -5            -0.04%
3   2003     11,229                 -49            -0.43%
4   2004     11,178                 -51            -0.45%
5   2005     11,196                  18             0.16%
6   2006     11,199                   3             0.03%
7   2007     11,236                  37             0.33%
8   2008     11,152                 -84            -0.75%
9   2009     11,123                 -29            -0.26%
10  2010     11,373                 250             2.25%
11  2011     11,211                -162            -1.42%
12  2012     11,118                 -93            -0.83%
13  2013     11,097                 -21            -0.19%
14  2014     11,004                 -93            -0.84%
15  2015     10,910                 -94            -0.85%
16  2016     10,977                  67             0.61%
17  2017     10,972                  -5            -0.05%
18  2018     11,039                  67             0.61%
19  2019     11,054                  15             0.14%
20  2020     11,672                 618             5.59%
21  2021     11,671                  -1            -0.01%
22  2022     11,732                  61             0.52%