
### Data Collection and Preprocessing
  - Collect historical energy consumption, pricing, weather, and population data.
  - Preprocess the data, handle missing values, and engineer features.

In [45]:
## Import Libraries 

from pathlib import Path
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import requests
import json
import io 
import os

In [46]:
## Download the csv files fro the web 

# url of the csv files

url = 'http://reports.ieso.ca/public/Demand/'

# List of the csv files

files_to_download = ['PUB_Demand.csv', 'PUB_Demand_2002.csv', 'PUB_Demand_2002_v1.csv', 'PUB_Demand_2003.csv']

# Create a directory to store the downloaded files
os.makedirs('data', exist_ok=True)

# Download each CSV file and save it in the "data" directory
for filename in files_to_download:
    file_url = url + filename
    response = requests.get(file_url)
    with open(os.path.join('data', filename), 'wb') as f:
        f.write(response.content)
        print(f"Downloaded {filename}")

Downloaded PUB_Demand.csv
Downloaded PUB_Demand_2002.csv
Downloaded PUB_Demand_2002_v1.csv
Downloaded PUB_Demand_2003.csv

In [42]:
# import pandas as pd
# import os

# # Function to clean and read CSV files into a DataFrame
# def read_csv(filename):
#     # Read the CSV file into a DataFrame, skipping the first row
#     df = pd.read_csv(filename, skiprows=[1])
#     # Set column names from the second row
#     df.columns = df.iloc[0]
#     # Drop the second row
#     df = df.drop(index=1).reset_index(drop=True)
#     return df


# df = read_csv('data/PUB_Demand.csv')

In [68]:
# df = pd.read_csv('data/PUB_Demand.csv')
# df.head()


def read_csv(filename):
    # Read the CSV file into a DataFrame, skipping the first three rows
    df = pd.read_csv(filename, skiprows=[0, 1])
    # Set column names from the fourth row
    df.columns = df.iloc[0]
    # Drop the fourth row
    df = df.drop(index=0).reset_index(drop=True)
    return df


df = read_csv('data/PUB_Demand.csv')
df.head()

0        Date Hour Market Demand Ontario Demand
0  2024-01-01    1         17091          14482
1  2024-01-01    2         16658          14180
2  2024-01-01    3         16233          13722
3  2024-01-01    4         15909          13637
4  2024-01-01    5         15998          13697

In [69]:
df2 = read_csv('data/PUB_Demand_2002.csv')
df2.head()

0        Date Hour Market Demand Ontario Demand
0  2002-05-01    1         14141          14137
1  2002-05-01    2         13876          13872
2  2002-05-01    3         13974          13820
3  2002-05-01    4         13898          13744
4  2002-05-01    5         14378          14224

In [96]:
## Combine all csv files into one dataframe

def combine_csvs(directory):
# List to store DataFrames for each CSV file
    dfs = []

    # Iterate over each CSV file in the directory
    for filename in os.listdir(directory):
        if filename.endswith('.csv'):
            file_path = os.path.join(directory, filename)
            # Clean and read the CSV file into a DataFrame
            df = read_csv(file_path)
            dfs.append(df)

    # Concatenate all DataFrames into a single DataFrame
    combined_df = pd.concat(dfs, ignore_index=True)

    # Sort by the 'Date' column
    combined_df = combined_df.sort_values('Date')
    return combined_df


combined_df = combine_csvs('data')
combined_df.head()

0            Date Hour Market Demand Ontario Demand
15672  2002-05-01    1         14141          14137
1052   2002-05-01   21         17906          17902
1051   2002-05-01   20         17903          17899
1050   2002-05-01   19         17231          17227
1049   2002-05-01   18         17292          17288

In [73]:
combined_df.tail()

0           Date Hour Market Demand Ontario Demand
1010  2024-02-12    3         15253          13979
1009  2024-02-12    2         15275          14159
1008  2024-02-12    1         15798          14747
1020  2024-02-12   13         18638          17038
1015  2024-02-12    8         19056          17474

In [75]:
hours = combined_df['Hour'].unique()
hours

array(['1', '21', '20', '19', '18', '17', '16', '15', '14', '13', '12',
       '22', '11', '9', '8', '7', '6', '5', '4', '3', '2', '10', '23',
       '24'], dtype=object)

In [77]:
Date_column = combined_df['Date'].unique()
Date_column

array(['2002-05-01', '2002-05-02', '2002-05-03', '2002-05-04',
       '2002-05-05', '2002-05-06', '2002-05-07', '2002-05-08',
       '2002-05-09', '2002-05-10', '2002-05-11', '2002-05-12',
       '2002-05-13', '2002-05-14', '2002-05-15', '2002-05-16',
       '2002-05-17', '2002-05-18', '2002-05-19', '2002-05-20',
       '2002-05-21', '2002-05-22', '2002-05-23', '2002-05-24',
       '2002-05-25', '2002-05-26', '2002-05-27', '2002-05-28',
       '2002-05-29', '2002-05-30', '2002-05-31', '2002-06-01',
       '2002-06-02', '2002-06-03', '2002-06-04', '2002-06-05',
       '2002-06-06', '2002-06-07', '2002-06-08', '2002-06-09',
       '2002-06-10', '2002-06-11', '2002-06-12', '2002-06-13',
       '2002-06-14', '2002-06-15', '2002-06-16', '2002-06-17',
       '2002-06-18', '2002-06-19', '2002-06-20', '2002-06-21',
       '2002-06-22', '2002-06-23', '2002-06-24', '2002-06-25',
       '2002-06-26', '2002-06-27', '2002-06-28', '2002-06-29',
       '2002-06-30', '2002-07-01', '2002-07-02', '2002-07-03',
       '2002-07-04', '2002-07-05', '2002-07-06', '2002-07-07',
       '2002-07-08', '2002-07-09', '2002-07-10', '2002-07-11',
       '2002-07-12', '2002-07-13', '2002-07-14', '2002-07-15',
       '2002-07-16', '2002-07-17', '2002-07-18', '2002-07-19',
       '2002-07-20', '2002-07-21', '2002-07-22', '2002-07-23',
       '2002-07-24', '2002-07-25', '2002-07-26', '2002-07-27',
       '2002-07-28', '2002-07-29', '2002-07-30', '2002-07-31',
       '2002-08-01', '2002-08-02', '2002-08-03', '2002-08-04',
       '2002-08-05', '2002-08-06', '2002-08-07', '2002-08-08',
       '2002-08-09', '2002-08-10', '2002-08-11', '2002-08-12',
       '2002-08-13', '2002-08-14', '2002-08-15', '2002-08-16',
       '2002-08-17', '2002-08-18', '2002-08-19', '2002-08-20',
       '2002-08-21', '2002-08-22', '2002-08-23', '2002-08-24',
       '2002-08-25', '2002-08-26', '2002-08-27', '2002-08-28',
       '2002-08-29', '2002-08-30', '2002-08-31', '2002-09-01',
       '2002-09-02', '2002-09-03', '2002-09-04', '2002-09-05',
       '2002-09-06', '2002-09-07', '2002-09-08', '2002-09-09',
       '2002-09-10', '2002-09-11', '2002-09-12', '2002-09-13',
       '2002-09-14', '2002-09-15', '2002-09-16', '2002-09-17',
       '2002-09-18', '2002-09-19', '2002-09-20', '2002-09-21',
       '2002-09-22', '2002-09-23', '2002-09-24', '2002-09-25',
       '2002-09-26', '2002-09-27', '2002-09-28', '2002-09-29',
       '2002-09-30', '2002-10-01', '2002-10-02', '2002-10-03',
       '2002-10-04', '2002-10-05', '2002-10-06', '2002-10-07',
       '2002-10-08', '2002-10-09', '2002-10-10', '2002-10-11',
       '2002-10-12', '2002-10-13', '2002-10-14', '2002-10-15',
       '2002-10-16', '2002-10-17', '2002-10-18', '2002-10-19',
       '2002-10-20', '2002-10-21', '2002-10-22', '2002-10-23',
       '2002-10-24', '2002-10-25', '2002-10-26', '2002-10-27',
       '2002-10-28', '2002-10-29', '2002-10-30', '2002-10-31',
       '2002-11-01', '2002-11-02', '2002-11-03', '2002-11-04',
       '2002-11-05', '2002-11-06', '2002-11-07', '2002-11-08',
       '2002-11-09', '2002-11-10', '2002-11-11', '2002-11-12',
       '2002-11-13', '2002-11-14', '2002-11-15', '2002-11-16',
       '2002-11-17', '2002-11-18', '2002-11-19', '2002-11-20',
       '2002-11-21', '2002-11-22', '2002-11-23', '2002-11-24',
       '2002-11-25', '2002-11-26', '2002-11-27', '2002-11-28',
       '2002-11-29', '2002-11-30', '2002-12-01', '2002-12-02',
       '2002-12-03', '2002-12-04', '2002-12-05', '2002-12-06',
       '2002-12-07', '2002-12-08', '2002-12-09', '2002-12-10',
       '2002-12-11', '2002-12-12', '2002-12-13', '2002-12-14',
       '2002-12-15', '2002-12-16', '2002-12-17', '2002-12-18',
       '2002-12-19', '2002-12-20', '2002-12-21', '2002-12-22',
       '2002-12-23', '2002-12-24', '2002-12-25', '2002-12-26',
       '2002-12-27', '2002-12-28', '2002-12-29', '2002-12-30',
       '2002-12-31', '2003-01-01', '2003-01-02', '2003-01-03',
       '2003-01-04', '2003-01-05', '2003-01-06', '2003-01-07',
       '2003-01-08', '2003-01-09', '2003-01-10', '2003-01-11',
       '2003-01-12', '2003-01-13', '2003-01-14', '2003-01-15',
       '2003-01-16', '2003-01-17', '2003-01-18', '2003-01-19',
       '2003-01-20', '2003-01-21', '2003-01-22', '2003-01-23',
       '2003-01-24', '2003-01-25', '2003-01-26', '2003-01-27',
       '2003-01-28', '2003-01-29', '2003-01-30', '2003-01-31',
       '2003-02-01', '2003-02-02', '2003-02-03', '2003-02-04',
       '2003-02-05', '2003-02-06', '2003-02-07', '2003-02-08',
       '2003-02-09', '2003-02-10', '2003-02-11', '2003-02-12',
       '2003-02-13', '2003-02-14', '2003-02-15', '2003-02-16',
       '2003-02-17', '2003-02-18', '2003-02-19', '2003-02-20',
       '2003-02-21', '2003-02-22', '2003-02-23', '2003-02-24',
       '2003-02-25', '2003-02-26', '2003-02-27', '2003-02-28',
       '2003-03-01', '2003-03-02', '2003-03-03', '2003-03-04',
       '2003-03-05', '2003-03-06', '2003-03-07', '2003-03-08',
       '2003-03-09', '2003-03-10', '2003-03-11', '2003-03-12',
       '2003-03-13', '2003-03-14', '2003-03-15', '2003-03-16',
       '2003-03-17', '2003-03-18', '2003-03-19', '2003-03-20',
       '2003-03-21', '2003-03-22', '2003-03-23', '2003-03-24',
       '2003-03-25', '2003-03-26', '2003-03-27', '2003-03-28',
       '2003-03-29', '2003-03-30', '2003-03-31', '2003-04-01',
       '2003-04-02', '2003-04-03', '2003-04-04', '2003-04-05',
       '2003-04-06', '2003-04-07', '2003-04-08', '2003-04-09',
       '2003-04-10', '2003-04-11', '2003-04-12', '2003-04-13',
       '2003-04-14', '2003-04-15', '2003-04-16', '2003-04-17',
       '2003-04-18', '2003-04-19', '2003-04-20', '2003-04-21',
       '2003-04-22', '2003-04-23', '2003-04-24', '2003-04-25',
       '2003-04-26', '2003-04-27', '2003-04-28', '2003-04-29',
       '2003-04-30', '2003-05-01', '2003-05-02', '2003-05-03',
       '2003-05-04', '2003-05-05', '2003-05-06', '2003-05-07',
       '2003-05-08', '2003-05-09', '2003-05-10', '2003-05-11',
       '2003-05-12', '2003-05-13', '2003-05-14', '2003-05-15',
       '2003-05-16', '2003-05-17', '2003-05-18', '2003-05-19',
       '2003-05-20', '2003-05-21', '2003-05-22', '2003-05-23',
       '2003-05-24', '2003-05-25', '2003-05-26', '2003-05-27',
       '2003-05-28', '2003-05-29', '2003-05-30', '2003-05-31',
       '2003-06-01', '2003-06-02', '2003-06-03', '2003-06-04',
       '2003-06-05', '2003-06-06', '2003-06-07', '2003-06-08',
       '2003-06-09', '2003-06-10', '2003-06-11', '2003-06-12',
       '2003-06-13', '2003-06-14', '2003-06-15', '2003-06-16',
       '2003-06-17', '2003-06-18', '2003-06-19', '2003-06-20',
       '2003-06-21', '2003-06-22', '2003-06-23', '2003-06-24',
       '2003-06-25', '2003-06-26', '2003-06-27', '2003-06-28',
       '2003-06-29', '2003-06-30', '2003-07-01', '2003-07-02',
       '2003-07-03', '2003-07-04', '2003-07-05', '2003-07-06',
       '2003-07-07', '2003-07-08', '2003-07-09', '2003-07-10',
       '2003-07-11', '2003-07-12', '2003-07-13', '2003-07-14',
       '2003-07-15', '2003-07-16', '2003-07-17', '2003-07-18',
       '2003-07-19', '2003-07-20', '2003-07-21', '2003-07-22',
       '2003-07-23', '2003-07-24', '2003-07-25', '2003-07-26',
       '2003-07-27', '2003-07-28', '2003-07-29', '2003-07-30',
       '2003-07-31', '2003-08-01', '2003-08-02', '2003-08-03',
       '2003-08-04', '2003-08-05', '2003-08-06', '2003-08-07',
       '2003-08-08', '2003-08-09', '2003-08-10', '2003-08-11',
       '2003-08-12', '2003-08-13', '2003-08-14', '2003-08-15',
       '2003-08-16', '2003-08-17', '2003-08-18', '2003-08-19',
       '2003-08-20', '2003-08-21', '2003-08-22', '2003-08-23',
       '2003-08-24', '2003-08-25', '2003-08-26', '2003-08-27',
       '2003-08-28', '2003-08-29', '2003-08-30', '2003-08-31',
       '2003-09-01', '2003-09-02', '2003-09-03', '2003-09-04',
       '2003-09-05', '2003-09-06', '2003-09-07', '2003-09-08',
       '2003-09-09', '2003-09-10', '2003-09-11', '2003-09-12',
       '2003-09-13', '2003-09-14', '2003-09-15', '2003-09-16',
       '2003-09-17', '2003-09-18', '2003-09-19', '2003-09-20',
       '2003-09-21', '2003-09-22', '2003-09-23', '2003-09-24',
       '2003-09-25', '2003-09-26', '2003-09-27', '2003-09-28',
       '2003-09-29', '2003-09-30', '2003-10-01', '2003-10-02',
       '2003-10-03', '2003-10-04', '2003-10-05', '2003-10-06',
       '2003-10-07', '2003-10-08', '2003-10-09', '2003-10-10',
       '2003-10-11', '2003-10-12', '2003-10-13', '2003-10-14',
       '2003-10-15', '2003-10-16', '2003-10-17', '2003-10-18',
       '2003-10-19', '2003-10-20', '2003-10-21', '2003-10-22',
       '2003-10-23', '2003-10-24', '2003-10-25', '2003-10-26',
       '2003-10-27', '2003-10-28', '2003-10-29', '2003-10-30',
       '2003-10-31', '2003-11-01', '2003-11-02', '2003-11-03',
       '2003-11-04', '2003-11-05', '2003-11-06', '2003-11-07',
       '2003-11-08', '2003-11-09', '2003-11-10', '2003-11-11',
       '2003-11-12', '2003-11-13', '2003-11-14', '2003-11-15',
       '2003-11-16', '2003-11-17', '2003-11-18', '2003-11-19',
       '2003-11-20', '2003-11-21', '2003-11-22', '2003-11-23',
       '2003-11-24', '2003-11-25', '2003-11-26', '2003-11-27',
       '2003-11-28', '2003-11-29', '2003-11-30', '2003-12-01',
       '2003-12-02', '2003-12-03', '2003-12-04', '2003-12-05',
       '2003-12-06', '2003-12-07', '2003-12-08', '2003-12-09',
       '2003-12-10', '2003-12-11', '2003-12-12', '2003-12-13',
       '2003-12-14', '2003-12-15', '2003-12-16', '2003-12-17',
       '2003-12-18', '2003-12-19', '2003-12-20', '2003-12-21',
       '2003-12-22', '2003-12-23', '2003-12-24', '2003-12-25',
       '2003-12-26', '2003-12-27', '2003-12-28', '2003-12-29',
       '2003-12-30', '2003-12-31', '2024-01-01', '2024-01-02',
       '2024-01-03', '2024-01-04', '2024-01-05', '2024-01-06',
       '2024-01-07', '2024-01-08', '2024-01-09', '2024-01-10',
       '2024-01-11', '2024-01-12', '2024-01-13', '2024-01-14',
       '2024-01-15', '2024-01-16', '2024-01-17', '2024-01-18',
       '2024-01-19', '2024-01-20', '2024-01-21', '2024-01-22',
       '2024-01-23', '2024-01-24', '2024-01-25', '2024-01-26',
       '2024-01-27', '2024-01-28', '2024-01-29', '2024-01-30',
       '2024-01-31', '2024-02-01', '2024-02-02', '2024-02-03',
       '2024-02-04', '2024-02-05', '2024-02-06', '2024-02-07',
       '2024-02-08', '2024-02-09', '2024-02-10', '2024-02-11',
       '2024-02-12'], dtype=object)

In [97]:
# Sort out the date column (combine date and hour)


# Convert 'Hour' to 24-hour format as integer and subtract 1
combined_df['Hour'] = (combined_df['Hour'].astype(int) - 1) % 24  # Ensure hour values are within 0-23 range

# Combine 'Date' and 'Hour' strings
combined_df['DateTime'] = pd.to_datetime(combined_df['Date'] + ' ' + combined_df['Hour'].astype(str) + ':00:00')

# Drop 'Date' and 'Hour' columns
combined_df.drop(columns=['Date', 'Hour'], inplace=True)

# Sort DataFrame by the 'DateTime' column
combined_df.sort_values(by='DateTime', inplace=True)

# Reset index
combined_df.reset_index(drop=True, inplace=True)

# Display the DataFrame head
combined_df.head()

0 Market Demand Ontario Demand            DateTime
0         14141          14137 2002-05-01 00:00:00
1         14141          14137 2002-05-01 00:00:00
2         13876          13872 2002-05-01 01:00:00
3         13876          13872 2002-05-01 01:00:00
4         13974          13820 2002-05-01 02:00:00

In [94]:
combined_df.tail()

0                    Date Market Demand Ontario Demand
21547 2024-02-12 02:00:00         15253          13979
21548 2024-02-12 01:00:00         15275          14159
21549 2024-02-12 00:00:00         15798          14747
21550 2024-02-12 12:00:00         18638          17038
21551 2024-02-12 07:00:00         19056          17474

In [99]:
df=pd.read_csv('data/PUB_Demand_2002_v1.csv')
df.head(50)

              \\Hourly Demand Report Unnamed: 1     Unnamed: 2      Unnamed: 3
0   \\Created at 2018-05-22 08:00:00        NaN            NaN             NaN
1                         \\For 2002        NaN            NaN             NaN
2                               Date       Hour  Market Demand  Ontario Demand
3                         2002-05-01          1          14141           14137
4                         2002-05-01          2          13876           13872
5                         2002-05-01          3          13974           13820
6                         2002-05-01          4          13898           13744
7                         2002-05-01          5          14378           14224
8                         2002-05-01          6          15408           15404
9                         2002-05-01          7          17070           17066
10                        2002-05-01          8          17644           17640
11                        2002-05-01          9          17723           17719
12                        2002-05-01         10          17774           17770
13                        2002-05-01         11          17729           17725
14                        2002-05-01         12          17615           17611
15                        2002-05-01         13          17530           17526
16                        2002-05-01         14          17472           17468
17                        2002-05-01         15          17482           17478
18                        2002-05-01         16          17592           17588
19                        2002-05-01         17          17650           17646
20                        2002-05-01         18          17292           17288
21                        2002-05-01         19          17231           17227
22                        2002-05-01         20          17903           17899
23                        2002-05-01         21          17906           17902
24                        2002-05-01         22          16614           16610
25                        2002-05-01         23          15364           15360
26                        2002-05-01         24          14455           14451
27                        2002-05-02          1          13945           13941
28                        2002-05-02          2          13655           13651
29                        2002-05-02          3          13823           13569
30                        2002-05-02          4          13774           13610
31                        2002-05-02          5          14368           14204
32                        2002-05-02          6          15615           15601
33                        2002-05-02          7          17610           17556
34                        2002-05-02          8          18474           18420
35                        2002-05-02          9          18703           18699
36                        2002-05-02         10          18848           18844
37                        2002-05-02         11          18891           18887
38                        2002-05-02         12          18772           18768
39                        2002-05-02         13          18616           18612
40                        2002-05-02         14          18414           18410
41                        2002-05-02         15          18396           18392
42                        2002-05-02         16          18600           18596
43                        2002-05-02         17          18656           18652
44                        2002-05-02         18          18368           18364
45                        2002-05-02         19          18293           18264
46                        2002-05-02         20          18409           18405
47                        2002-05-02         21          18213           18209
48                        2002-05-02         22          16949           16945
49                        2002-05-02         23          15753           15749

In [100]:
df=pd.read_csv('data/PUB_Demand_2002.csv')
df.head(50)

              \\Hourly Demand Report Unnamed: 1     Unnamed: 2      Unnamed: 3
0   \\Created at 2018-05-22 08:00:00        NaN            NaN             NaN
1                         \\For 2002        NaN            NaN             NaN
2                               Date       Hour  Market Demand  Ontario Demand
3                         2002-05-01          1          14141           14137
4                         2002-05-01          2          13876           13872
5                         2002-05-01          3          13974           13820
6                         2002-05-01          4          13898           13744
7                         2002-05-01          5          14378           14224
8                         2002-05-01          6          15408           15404
9                         2002-05-01          7          17070           17066
10                        2002-05-01          8          17644           17640
11                        2002-05-01          9          17723           17719
12                        2002-05-01         10          17774           17770
13                        2002-05-01         11          17729           17725
14                        2002-05-01         12          17615           17611
15                        2002-05-01         13          17530           17526
16                        2002-05-01         14          17472           17468
17                        2002-05-01         15          17482           17478
18                        2002-05-01         16          17592           17588
19                        2002-05-01         17          17650           17646
20                        2002-05-01         18          17292           17288
21                        2002-05-01         19          17231           17227
22                        2002-05-01         20          17903           17899
23                        2002-05-01         21          17906           17902
24                        2002-05-01         22          16614           16610
25                        2002-05-01         23          15364           15360
26                        2002-05-01         24          14455           14451
27                        2002-05-02          1          13945           13941
28                        2002-05-02          2          13655           13651
29                        2002-05-02          3          13823           13569
30                        2002-05-02          4          13774           13610
31                        2002-05-02          5          14368           14204
32                        2002-05-02          6          15615           15601
33                        2002-05-02          7          17610           17556
34                        2002-05-02          8          18474           18420
35                        2002-05-02          9          18703           18699
36                        2002-05-02         10          18848           18844
37                        2002-05-02         11          18891           18887
38                        2002-05-02         12          18772           18768
39                        2002-05-02         13          18616           18612
40                        2002-05-02         14          18414           18410
41                        2002-05-02         15          18396           18392
42                        2002-05-02         16          18600           18596
43                        2002-05-02         17          18656           18652
44                        2002-05-02         18          18368           18364
45                        2002-05-02         19          18293           18264
46                        2002-05-02         20          18409           18405
47                        2002-05-02         21          18213           18209
48                        2002-05-02         22          16949           16945
49                        2002-05-02         23          15753           15749